.title{
    position: relative;
    height: fit-content;
    width: 1140px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.basket{
    position: relative;
    height: fit-content;
    max-width:1140px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 2%;

    /* background-color: violet; */
}

.items{
    max-width: 65%;
    /* min-width: 350px; */

    display: flex;
    flex-direction: column;
    row-gap: 15px;
    flex: 0 0 65%;

    /* background-color: yellowgreen; */
}

.item{
    display: flex;
    column-gap: 20px;

    /* background-color:chartreuse; */
    
}

.itemdes{
    width:100%;

    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    /* background-color: blueviolet; */
}

.itemName{
    max-width: 47%;
    line-height: 22px;

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    flex: 0 0 47%;

    /* background-color: aqua; */
}

.quantity{
    width: 90px;
    height: 30px;
    border: 1px solid #787878;
    border-radius: 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    height: fit-content;
    margin-left: auto;
    margin-right: 10px;
    /* background-color: brown; */
}

.checkout{
    /* max-width: 30%; */
    
    display: flex;
    flex-flow: column wrap;
    row-gap: 30px;
    flex: 0 0 30%;

    /* background-color: aquamarine; */
}

.cost{
    height: 100px;
    border: 1px solid #c4c7cc8c;
    border-radius: 2px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.subtotal{
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;

    font-size: small;
    color: #787878;

    display: flex;
    justify-content: space-between;
}

.total{
    margin-bottom: 12px;
    margin-left: 5%;
    margin-right: 5%;

    font-size: large;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
}

.promo{
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.promobox{
    height: 25px;
    width: 80%;
    border: 1px solid #c4c7cc8c;
    padding: 10px;

    font-size: large;
}

.promobtn{
    height: inherit;
    width: 20%;
    border:0%;

    font-size: x-large;
    color: white;
    background-color: #4675aa;
}

.proceedbtn{
    width: 100%;
    height: 55px;

    border:0%;
    font-size: large;
    color: white;
    background-color: #4675aa;

    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 25px;
    height: 30px;
    border: 0px;
    /* background-color: white; */
}

.hidden{
    position: absolute;
    left: 0%;
    height: 0%;
    width: 0px;
    height: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;

    text-align: center;
}

hr{
    margin-left: 0;
    margin-right: 0;
    color: #c4c7cc;
    opacity: 0.3;
}